.my-drop-zone {
   border: dotted 3px lightgray;
   height: 100px;
}
.nv-file-over { border: dotted 3px red; }

.container {
   margin-top: 50px;
}

.file-upload {
   margin-bottom: 20px;
}

/* For Firefox */
.client-phone {
   -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
.client-phone::-webkit-inner-spin-button,
.client-phone::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}