<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone number</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="client in clients">
        <th scope="row">{{client.id}}</th>
        <td>{{client.firstname}}</td>
        <td>{{client.lastname}}</td>
        <td>{{client.email}}</td>
        <td>
          <span ng-show="!client.isEditing">{{client.phone}}</span>
          <input type="number" class="form-control client-phone" ng-show="client.isEditing" ng-model="client.phone"></input>
        </td>
        <td><button class="btn btn-success" ng-click="client.toggleEdit(client.phone)">{{client.editButtonText()}}</button></td>
      </tr>
  </tbody>
</table>
