<div class="input-group file-upload">
  <div class="input-group-prepend">
    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Upload
    </button>
  </div>
  <div class="custom-file">
    <input nv-file-select="" uploader="uploader" type="file" class="custom-file-input">
    <label class="custom-file-label">{{uploader.queue[0].file.name || "Choose file"}}</label>
  </div>
</div>